@{


<<<<<<< HEAD
gg
=======
    kjkjkkkkkllkooojppppjojjjkkkkkllllkklk

>>>>>>> abe5dae43e08cde6b5241c1de3c3713a22652dc7
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        
    </body>
</html>
